VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=digital-kintai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=digital-kintai
VITE_FIREBASE_STORAGE_BUCKET=digital-kintai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=304323604583
VITE_FIREBASE_APP_ID=1:304323604583:web:bd5b00730aa261ea7024c2
